.dish-card {
  display: flex;
  justify-content: space-between;
  background: white;
  margin: 16px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 8px #0000001a;
}

.dish-content {
  flex: 1;
  padding-right: 12px;
}

.dish-title {
  font-size: 16px;
  font-weight: 600;
}

.description {
  font-size: 13px;
  color: #666;
  margin-top: 8px;
}

.price {
  font-weight: bold;
  margin-top: 10px;
  font-size: 15px;
}

.custom {
  font-size: 12px;
  color: #2563eb;
  margin-top: 6px;
}

.dish-image {
  width: 120px;
  height: 90px;
  border-radius: 8px;
  object-fit: cover;
}

.counter {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 12px;
}

.counter button {
  width: 28px;
  height: 28px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.counter button:hover {
  background: #ddd;
}

.count-value {
  width: 22px;
  text-align: center;
  font-weight: bold;
}

.loading {
  padding: 40px;
  font-size: 20px;
  text-align: center;
}

/* Mobile View */
@media (max-width: 600px) {
  .dish-card {
    flex-direction: column;
    padding: 14px;
  }

  .dish-image {
    width: 100%;
    height: 160px;
    margin-top: 14px;
  }
}

/* Tablet + Desktop View */
@media (min-width: 768px) {
  .dish-list {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* Large Screen Desktop View */
@media (min-width: 1024px) {
  .dish-list {
    max-width: 900px;
    margin: auto;
  }

  .dish-card {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
  }

 
}
